<!DOCTYPE html>
<html>
  <head>
    <title>Pizzaria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <%= render partial: 'layouts/top_bar' %>
        <%= render partial: 'layouts/side_bar' %>
      </nav>
<!--       <div class="page-wrapper">
        <div class="container-fluid"> -->
          <%= yield %>
      <!--   </div>
      </div> -->
    </div>

  </body>
</html>
